/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/statistiques_header.jpg");
    min-height: 100%;
}
header {
    margin-top: 40px;
}
